* {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: black;
    margin: 0 auto;
}

.modal {
    margin: auto;
    text-align: start;
}

.section-heading {
    padding: 40px;
}

.accordion-button:enabled {
    background-color: #FFC26F;
}

#header {
    background-image: url(../images/tennis-court-background.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#header h1 {
    color: white;
    padding-top: 150px;
    text-align: center;
}

#resources {
    padding: 70px;
    background-color: #F9E0BB;
    text-align: center;
}

#pricing-model {
    padding: 150px;
    background-color: #F9E0BB;
    text-align: center;
}


#contact-us {
    padding: 50px;
    background-color: #C38154;
    color: white;
    text-align: center;
}